:root {
    --primary-rgb: 128, 229, 255;
    --secondary-rgb: 242, 242, 242;
    --tertiary-rgb: 255, 255, 255;
    --text-rgb: 0, 0, 0;
    
    --bs-primary-rgb: var(--primary-rgb);
    --bs-secondary-rgb: var(--secondary-rgb);
    --bs-code-color: rgb(var(--primary-rgb));
}

body {
    background-color: rgb(var(--tertiary-rgb));
    padding-bottom: 50px;
}

html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p {
    color: rgb(var(--text-rgb));
}